section.about {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-basis: 100%;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-basis: 16%;
    justify-content: center;
    align-items: center;
    @include breakpoint-down(medium){
        flex-basis: 35%;
        justify-content: flex-start;
        margin-block: 2rem;
    }
    @include breakpoint-down(small){
        flex-basis: 51%;
        justify-content: flex-start;
        margin-block: 1rem;
    }
}
.box-icon {
    font-size: 40px;
    color: #40AE6A;
}

.box-text h4 {
    margin: 0;
    font-size: 24px;
}



.box-text p {
    margin: 0;
    font-size: 14px;
}

.box-text {
    margin-left: 2rem;
}